* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: fuente1;
}

body {
    background-color: rgb(0, 0, 0);
}

.separacion {
    background: rgb(255, 255, 255);
    padding: 1px;
}

.imagen {
    width: 30px;
    align-items: center;
    margin-top: 10px;
    margin-right: 755px;
}

.nombre {
    background-image: url(../imagenes/azul.png);
    padding: 80px 0 80px 0;
}

.completo{
    color: rgb(255, 255, 255);
    margin: 0 0 0 40px;
    padding: 0 0 5px 0;
}

.hastag {
    margin: 0 0 0 40PX;
    color: orange;
    padding: 0 0 5px 0;
}

.redes_sociales {
    color: white;
    text-decoration: none;
    margin: 40px;
}

.redes_sociales:hover {
    color: orange;
}

.encabezado {
    color: rgb(255, 255, 255);
    padding: 5px;
    text-decoration: none;
    margin: 5px;
    font-size: large;
}

nav {
    background-color: rgb(0, 0, 0);
    padding: 5px;
    text-align: right;
}

.encabezado:hover {
    color: #86A789;
}

/* .sobre_mi{
    background: #04364A;
    padding: 40px 0 40px 0;
    margin-top: 15px;
    opacity: 0.8;
    margin-right: 1000px;
} */

h1 {
    color: #83C0C1;
    margin: 15px 0 0 40px;
}

.contenido {
    background: #6962AD;
    color: #96E9C6;
    margin: 10px 0 0 40px;
    padding: 30px 0 30px 20px;
    width: 90%;
    border-radius: 20px;
}

.sobre_mi {
    display: grid;
    grid-template-columns: 70fr 30fr;
    gap: 20px;
    margin: 20px;
}

.izq {
    background: #04364A;
    padding: 20px 0 40px 0;

}

.der {
    background: #0c474e;
    padding: 20px 0 20px 0;
    text-align: center;
    align-items: center;
    width: 400px;
    border-radius: 50px;
    margin-left: 120px;
}

#Idiomas {
    color: #B2C8BA;
    text-align: center;
    margin-right: 25px
}

.ingles {
    background: #86A789;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

.ingles:hover{
    background: #96E9C6;
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

h2 {
    margin: 20px 0 20px 40px;
    color: #D2E3C8;
    margin-right: 25px;
}

.sep_izq {
    padding: 4px;
    background: black;
    margin-top: 20px;
    border: black;
}

.apt {
    color: #1B1A55;
}

.Skills{
    text-align: center;
    font-size: 45px;
    margin-top: 60px;
}    

.skl {
    background: #0c474e;
    padding: 20px;
    text-align: center;
    align-items: center;
    width: 250px;
    border-radius: 20px;
    margin: 25px;
    box-shadow: 7px 7px 7px #6962AD;
    margin-bottom: 100px;
}

.skl img {
    width: 200px;
    height: 200px;
    display: flex; 
    border-radius: 20px; 
    margin-top: 15px;
    margin-left: 20px;
}

.skl img:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.tarjetas {
    display: flex;
    margin: 45px;
    justify-content: center;
}

.final {
    padding: 3px;
    background: #0c474e;
    border: #04364A;
}

@font-face {
    font-family: fuente1;
    src: url(../fonts/PTSerif-Regular.ttf);
}